.header {
    display: flex;
    background-color: #700b70;
    color: #fff;
    font-size: 1.4rem;
    justify-content: center;
    margin-bottom: 70px;
    flex-wrap: wrap;
}

.header_nav {
    display: flex;
}

.header a {
    color: #fff;
    display: block;
    text-decoration: none;
    transition: .2s ease-in-out;
    padding: 20px 35px;
}

.header a:hover {
    background-color: #a730a7;
}

.header a.active {
    background-color: #a730a7;
}

@media (min-width: 768px) {
    .header {
        justify-content: space-between;
    }
}